In [1]:
import pandas as pd
ev_train = pd.read_csv('not_transformed.csv')
ev_train.head()

,Unnamed: 0,display_id,ad_id,clicked,landing_page,campaign_id,advertiser_id,uuid,document_id,platform,geo_location,day,hour,category_id,topic_id,entity_id,source_id,publisher_id
0,0,1459,132913,0,1021154,16925,3074,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,32e11cfe904b4f16048f0f5652606452,1296.0,777.0
1,1,1459,176834,0,1145458,21541,2352,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,32e11cfe904b4f16048f0f5652606452,1296.0,777.0
2,2,1459,206927,1,1523781,23817,2635,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,32e11cfe904b4f16048f0f5652606452,1296.0,777.0
3,3,1820,45305,0,941800,6310,1198,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,89545f9fff7cf39c6f9b098bac21eb0d,5947.0,320.0
4,4,1820,97384,1,785003,12638,1644,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,89545f9fff7cf39c6f9b098bac21eb0d,5947.0,320.0

In [2]:
dummy_list_ad = ['landing_page','campaign_id','advertiser_id']
dummy_list_other = ['category_id','entity_id','topic_id','source_id','publisher_id']
for i in dummy_list_other:
    analysis = ev_train.groupby(i)['clicked'].agg(['sum','count'])
    analysis['ratio'] = analysis['sum']*1.0/analysis['count']
    temp_list = analysis.sort_values('count',ascending=False).iloc[20:].index.values.tolist()
    ev_train[i].replace(to_replace=temp_list,value='MinorityClass',inplace=True)
for i in dummy_list_ad:
    analysis = ev_train.groupby(i)['clicked'].agg(['sum','count'])
    analysis['ratio'] = analysis['sum']*1.0/analysis['count']
    temp_list = analysis.sort_values('count',ascending=False).iloc[300:].index.values.tolist()
    ev_train[i].replace(to_replace=temp_list,value='MinorityClass',inplace=True)
ev_train.head()

,Unnamed: 0,display_id,ad_id,clicked,landing_page,campaign_id,advertiser_id,uuid,document_id,platform,geo_location,day,hour,category_id,topic_id,entity_id,source_id,publisher_id
0,0,1459,132913,0,MinorityClass,MinorityClass,MinorityClass,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,MinorityClass,MinorityClass,MinorityClass
1,1,1459,176834,0,MinorityClass,MinorityClass,2352,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,MinorityClass,MinorityClass,MinorityClass
2,2,1459,206927,1,MinorityClass,MinorityClass,2635,faf57f287517f4,1649164,2,CA,2016-06-14,4,1610.0,16.0,MinorityClass,MinorityClass,MinorityClass
3,3,1820,45305,0,MinorityClass,MinorityClass,1198,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass
4,4,1820,97384,1,MinorityClass,MinorityClass,1644,1f73468d752afe,1764575,2,IL,2016-06-14,4,1907.0,184.0,MinorityClass,MinorityClass,MinorityClass

In [3]:
all_input = ev_train.copy()
drop_list=['display_id','ad_id','clicked','uuid','document_id']
for i in drop_list:
    all_input.drop(i,axis=1,inplace=True)

for i in all_input.columns:
    if all_input[i].dtype!='object':
        all_input[i] = all_input[i].astype('object')
        
all_input = pd.get_dummies(all_input)
        
input_train = all_input.ix[:25833]
input_test = all_input.ix[25834:]
target_train = ev_train.ix[:25833,'clicked']
target_test = ev_train.ix[25834:,'clicked']
index_range = ev_train.groupby('display_id').count()['ad_id'].tolist()
train_index_range = ev_train.ix[:25833].groupby('display_id').count()['ad_id'].tolist()
test_index_range = ev_train.ix[25834:].groupby('display_id').count()['ad_id'].tolist()
input_train.head()

,Unnamed: 0_0,Unnamed: 0_1,Unnamed: 0_2,Unnamed: 0_3,Unnamed: 0_4,Unnamed: 0_5,Unnamed: 0_6,Unnamed: 0_7,Unnamed: 0_8,Unnamed: 0_9,...,publisher_id_784.0,publisher_id_867.0,publisher_id_874.0,publisher_id_875.0,publisher_id_1042.0,publisher_id_1066.0,publisher_id_1089.0,publisher_id_1142.0,publisher_id_1228.0,publisher_id_MinorityClass
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
ev_test = pd.DataFrame(ev_train.ix[25834:][['display_id','ad_id','clicked']]).copy().reset_index().drop('index',axis=1)
def map12(y_pred):
    df_pred = pd.DataFrame(y_pred.tolist(),columns=['prob'])
    ev_test_t = pd.concat([ev_test,df_pred],axis=1)
    test_index_range = ev_test_t.groupby('display_id').count()['ad_id'].tolist()
    start = 0
    map12 = 0
    for p in test_index_range:
        end = start+p
        temp = ev_test_t.ix[start:end-1].copy().reset_index().drop('index',axis=1)
        temp2= temp.sort_values('prob',ascending=False).reset_index().drop('index',axis=1)
        index = temp2.ix[temp2['clicked']==1].index[0]
        map12 = map12+(1.0/(index+1))
        start = end
    return map12/len(test_index_range)

In [ ]:
from fastFM import mcmc
import scipy.sparse as sp
import numpy as np



X_train,y_train = input_train,target_train
X_test,  y_test= input_test,target_test
X_train = sp.csc_matrix(X_train)
X_test = sp.csc_matrix(X_test)
n_iter = 20
rank = 6
step_size = 1

fm = mcmc.FMRegression(n_iter=0, rank=rank, random_state=seed)

fm.fit_predict(X_train, y_train, X_test)

hyper_param = np.zeros((n_iter -1, 3 + 2 * rank), dtype=np.float64)
for nr, i in enumerate(range(1, n_iter)):
    fm.random_state = i * seed
    y_pred_0 = fm.fit_predict(X_train, y_train, X_test, n_more_iter=step_size)
    hyper_param[nr, :] = fm.hyper_param_

In [ ]:
from fastFM import mcmc
import scipy.sparse as sp
import numpy as np



X_train,y_train = input_train,target_train
X_test,  y_test= input_test,target_test
X_train = sp.csc_matrix(X_train)
X_test = sp.csc_matrix(X_test)
n_iter = 20
rank = 6
step_size = 1

fm = mcmc.FMRegression(n_iter=0, rank=rank, random_state=seed)

fm.fit_predict(X_train, y_train, X_test)

hyper_param = np.zeros((n_iter -1, 3 + 2 * rank), dtype=np.float64)
for nr, i in enumerate(range(1, n_iter)):
    fm.random_state = i * seed
    y_pred_0 = fm.fit_predict(X_train, y_train, X_test, n_more_iter=step_size)
    hyper_param[nr, :] = fm.hyper_param_

print '------- restart ----------'
values = np.arange(1, n_iter)
hyper_param_re = np.zeros((len(values), 3 + 2 * rank), dtype=np.float64)
for nr, i in enumerate(values):
    fm = mcmc.FMRegression(n_iter=i, rank=rank, random_state=seed)
    y_pred = fm.fit_predict(X_train, y_train, X_test)
    rmse_test_re.append(np.sqrt(mean_squared_error(y_pred, y_test)))
    hyper_param_re[nr, :] = fm.hyper_param_

In [10]:
map12(y_pred)

0.5746818404307411